@import "tailwindcss";

* {
box-sizing: border-box;
}


@layer utilities{
.inter {
  font-family: "Inter", sans-serif;

}
}
#task-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 18px;
}

.task-buttons {
  display: flex;
  gap: 12px;
  font-size: 18px;
}
